.teacher-profile {
    margin-top:80px;
}


.teacher-badge{

    background-color:#fff;
    padding:70px 70px;
    border: 1px solid #dee2e6 ;
    border-radius: .25rem;
    box-shadow: 0 4px 12px rgba(0,0,0,.08);
  
}


.user-img{
    width:150px;
}

.instructor{
    font-family: Helvetica,Arial,sans-serif;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -.02rem;
    font-size: 1.2rem;
    margin-bottom:5px;
}

.teacher-profile h1{
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -.02rem;
    font-size: 3rem;
}


.teacher-profile h2{
    font-family: Helvetica,Arial,sans-serif;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -.02rem;
    font-size: 1.75rem;
}


.cta{
    
    padding:20px 40px;
    background: url(https://s.udemycdn.com/browse_components/shared-assets/purple-intersect.svg) repeat-x #003645;
    background-size: auto 120%;
    background-position: 0 -2.4rem;
    color:white

}
