/* .loader {
    width: 40px;
    height: 40px;
    border-left: 5px solid black;
    border-top: 5px solid black;
    border-right: 5px solid rgb(214, 214, 214);
    border-bottom: 5px solid rgb(214, 214, 214);
    border-radius: 50%;
    animation: spin-me .4s infinite linear;
}


@keyframes spin-me {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
} */

.loader {
    margin: auto;
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: linear-gradient(#f07e6e, #84cdfa, #5ad1cd);
    animation: animate .6s linear infinite;
}

@keyframes animate {
    0%{
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loader span {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: linear-gradient(#f07e6e, #84cdfa, #5ad1cd);
}

.loader span:nth-child(1) {
    filter: blur(5px);
}

.loader span:nth-child(2) {
    filter: blur(10px);
}

.loader span:nth-child(3) {
    filter: blur(25px);
}

.loader span:nth-child(4) {
    filter: blur(50px);
}

.loader::after {
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    background: #f1f1f1;
    border: 4px solid whitesmoke;
    border-radius: 50%;
}