.noFav-btn {
  /* color: red; */
  transition: all .4s;
   width:20px;
   height:auto;
}

.noFav-btn:hover {
  /* color: aliceblue;
  text-decoration: none; */
  transition: all .4s;

}

.alreadyFav-btn {
  
  /* background-color: white; */
  /* color: red; */
  transition: all .4s;
 
}
